<div class="main-cnt">
    <h1>{{title}}</h1>
    <div class="main-block">
        <div class="questions">
            <h2>{{displayTxt}}</h2>
        </div>
        <div class="gif-img-cnt" [style]="gifs[gifIndex]">
        </div>
        <div class="btn-cnt" *ngIf="!displayInput; else elseBlock">
            <div *ngIf="displayYes" ontouchstart="">
                <div class="button">
                    <a href="#" (click)="onYesClick()">YES</a>
                </div>
            </div>
            <div *ngIf="displayNo" ontouchstart="">
                <div class="button">
                    <a href="#" (click)="onNoClick()">NO</a>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="btn-cnt" *ngIf="!displayMessage; else finalText">
                <div class="input-cnt">
                    <input type="text" [(ngModel)]="inputValue" placeholder="dd/mm/yyyy" />
                </div>
                <div class="button">
                    <a href="#" (click)="onSubmitClick()">Submit</a>
                </div>
            </div>
            <ng-template #finalText>
                <h3>Avrilbaby, you are the most special persont that I ever met, I am so happy that I have the honor to
                    call you my
                    girlfiend. I am very thankful for every moment spent together and can't wait to meet you on Sunday.
                    Like I said
                    before you are the cutest person that I know and you have a very kind heart, I am very lucky to have
                    you in my life.
                    I am sorry that this message is so short, you knew I wanted to make it in time so I had to rush it.
                    I hope you like it.
                    我爱你 !!! Happy Valentine's Day !!!
                </h3>
            </ng-template>
        </ng-template>
    </div>
</div>