/* You can add global styles to this file, and also import other style files */
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ff9090;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff2c2c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff0000;
}